/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*aqui*/

header {
    display: flex;
    flex-direction: column;
}
.upNav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
}
.hearth {
    display: flex;
    margin: 20px;
    width: 190px;
    justify-content: space-between;
    align-items: center;
}
.links {
    display: flex;
    margin: 20px;
    justify-content: space-between;
}
.links a:nth-child(1) {
    display: flex;
    margin: 10px;
}
.links a:nth-child(2) {
    display: flex;
    margin: 10px;
}
.links a:nth-child(3) {
    display: flex;
    margin: 10px;
}
.links a:nth-child(4) {
    display: flex;
    margin: 10px;
}

.downNav img {
    width: 75px;
    display: flex;
    margin: 20px;
    align-items: center;
}

.downNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #e5e5e5;
}
.downNav form {
    display: flex;
}
.searchButon {
    display: flex;
    background-color: #231f20;
    color: white;
    width: 100px;
    height: 50px;
    align-items: center;
    justify-content: center;
}
.form {
    display: flex;
    margin: 20px;
}
.sign {
    display: flex;
    margin: 20px;
}
.sign a:nth-child(1) {
    display: flex;
    border: 1px solid #cccccc;
    width: 100px;
    height: 50px;
    align-items: center;
    justify-content: center;
}
.sign a:nth-child(2) {
    display: flex;
    width: 100px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

.img {
    background-image: url("../assets/img/backgoundcolours.png");
    background-repeat: no-repeat;
}
.img h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
    flex-wrap: wrap;
    color: white;
    height: 200px;
    width: 736;
    font-size: 60px;
}
.img p {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    padding: 40px;
}
.img h3 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: white;
    font-size: 40px;
    padding: 40px;
}
.butons {
    display: flex;
    align-items: center;
    justify-content: center ;
}
.butons a:nth-child(1) {
    background-color: #ffc329;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 240px;
    border-radius: 30px;
    margin: 20px;
    -webkit-box-shadow: -1px 0px 19px 11px rgba(0,0,0,0.28);
    -moz-box-shadow: -1px 0px 19px 11px rgba(0,0,0,0.28);
    box-shadow: -1px 0px 19px 11px rgba(0,0,0,0.28);

}
.butons a:nth-child(2) {
    background-color: #cb3837;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 240px;
    border: 2px solid white;
    border-radius: 30px;
    margin: 20px;
}

.lastDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    padding-bottom: 150px;
}
.lastDiv img {
    display: flex;
    padding: 50px;
    width: 100px;
}
.lastDiv h3 {
    display: flex;
    align-items: center;
    width: 510px;
    padding: 20px;
    font-size: 50px;
}
.lastDiv p {
    display: flex;
    
    width: 500px;
    padding: 20px;
    font-size: 20px;
}
footer {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #e5e5e5;
}
.footerLogos {
    display: flex;
    flex-direction: column;
    padding-top: 15px ;
    justify-content: flex-start;
}

.support {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: flex-start;
}
.support a {
    display: flex;
    padding: 20px;
}
.company {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;    
}
.company a {
    display: flex;
    padding: 20px;
}
.terms {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}
.terms a {
    display: flex;
    padding: 20px;
}
footer h4 {
    font-weight: bold;
    font-size: 30px;
}
.colores {
    width: 100%;
    height: 15px;
    transition: opacity 500ms linear, transform 6s ease-out;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.1, 0.1, 0, 1);
    background: #cb3837;
}